{% extends "base.html" %}

{% block content %}
	<div class='container'>
	<div class='jumbotron'>
	{% for i in range(length) %}
		<div class="well well-sm">
		
		<a href="{{ urls[i] }}" target="_blank"><p><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp {{ get_title[i] }}</p></a>

		<p>{{ descriptions[i] }}</p>
		<img src="{{ images[i] }}" class="img-responsive">
		<a href="https://twitter.com/share">
    <i class="fa fa-twitter"></i> Share on Twitter</i>
</a>
		</div>

	{% endfor %}
	
	</div>
	</div>

{% endblock %}
